# Sanity Checking the Subspace Network Digital Twin

This notebook performs an simulation run that uses the default parameter set
for a single run. It is meant to provide quick diagnostics on the model
capabilities

In [1]:
import sys
sys.path.append('../')

import pandas as pd
import os
import plotly.express as px

In [9]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
# %%
from subspace_model.params import INITIAL_STATE
from subspace_model.params import SINGLE_RUN_PARAMS
from subspace_model.params import TIMESTEPS
from subspace_model.params import SAMPLES


from subspace_model.structure import SUBSPACE_MODEL_BLOCKS
from cadCAD_tools import easy_run

default_run_args = (INITIAL_STATE,
                     {k: [v] for k, v in SINGLE_RUN_PARAMS.items()},
                    SUBSPACE_MODEL_BLOCKS,
                    TIMESTEPS,
                    SAMPLES)
sim_df = easy_run(*default_run_args)

                  ___________    ____
  ________ __ ___/ / ____/   |  / __ \
 / ___/ __` / __  / /   / /| | / / / /
/ /__/ /_/ / /_/ / /___/ ___ |/ /_/ /
\___/\__,_/\__,_/\____/_/  |_/_____/
by cadCAD

cadCAD Version: 0.4.28
Execution Mode: local_proc
Simulation Dimensions:
Entire Simulation: (Models, Unique Timesteps, Params, Total Runs, Sub-States) = (1, 701, 12, 1, 19)
     Simulation 0: (Timesteps, Params, Runs, Sub-States) = (701, 12, 1, 19)

Initializing configurations:   0%|          | 0/1 [00:00<?, ?it/s]

Execution Method: local_simulations
Execution Mode: single_threaded

Flattening results:   0%|          | 0/7712 [00:00<?, ?it/s]

Total execution time: 0.31s

In [10]:
sim_df

,days_passed,delta_days,issuance_balance,operators_balance,nominators_balance,holders_balance,farmers_balance,staking_pool_balance,fund_balance,burnt_balance,...,sector_size_in_bytes,block_time_in_seconds,archival_duration_in_blocks,archive_size_in_bytes,reward_proposer_share,max_credit_supply,fund_tax_on_proposer_reward,fund_tax_on_storage_fees,farmer_tax_on_compute_priority_fees,operator_tax_on_compute_revenue
0,0,0,100000.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.0,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
11,1,1,99000.0,NaN,5.673261e+05,0.000000e+00,NaN,1.134652e+06,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
22,2,1,NaN,NaN,9.060795e+05,0.000000e+00,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
33,3,1,NaN,NaN,7.892649e+05,0.000000e+00,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
44,4,1,NaN,NaN,8.845556e+05,0.000000e+00,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,697,1,NaN,NaN,5.881351e+04,2.952045e+09,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
7678,698,1,NaN,NaN,2.579740e+05,2.957152e+09,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
7689,699,1,NaN,NaN,7.943137e+05,2.962238e+09,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
7700,700,1,NaN,NaN,1.759660e+06,2.967300e+09,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0
7711,701,1,NaN,NaN,8.798301e+05,2.972340e+09,NaN,NaN,NaN,0.0,...,32768000,6,100,128000000.0,0.0,100000,0.0,0.0,0.0,0.0

In [11]:
sim_df.iloc[1]

days_passed                                         1
delta_days                                          1
issuance_balance                              99000.0
operators_balance                                 NaN
nominators_balance                      567326.064462
holders_balance                                   0.0
farmers_balance                                   NaN
staking_pool_balance                   1134652.128925
fund_balance                                      NaN
burnt_balance                                     0.0
block_reward                                   1000.0
history_size_in_bytes                             0.0
commit_size_in_bytes                    18497536000.0
allocated_tokens                                  0.0
average_base_fee                            35.128657
average_priority_fee                              0.0
average_compute_units                    64599.800267
average_transaction_size                          NaN
transaction_count                                 1.0
simulation                                          0
subset                                              0
run                                                 1
timestep                                            1
label                                        standard
timestep_in_days                                    1
sector_size_in_bytes                         32768000
block_time_in_seconds                               6
archival_duration_in_blocks                       100
archive_size_in_bytes                     128000000.0
reward_proposer_share                             0.0
max_credit_supply                              100000
fund_tax_on_proposer_reward                       0.0
fund_tax_on_storage_fees                          0.0
farmer_tax_on_compute_priority_fees               0.0
operator_tax_on_compute_revenue                   0.0
Name: 11, dtype: object